{% extends 'Photographers/Head.html' %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location="{% url 'Photographers:Changpassword' %}"
    </script>
    {% endif %}
    <h3 align="center">Change Password</h3>
    <form name="frmCal" method="POST">
        {% csrf_token %}
        <table  border="1" align="center">
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="photographerpwd" placeholder="Enter Password" required>
                </td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="nphotographerpwd" placeholder="Enter Password" required>
                </td>
            </tr>
            <tr>
                <td>Retype Password</td>
                <td><input type="password" name="cphotographerpwd" placeholder="Enter Password" required>
                </td>
            </tr>

            <tr>

                <td colspan="2" align="center">
                <input type="submit" name="btnphotographerchange" value="Change">
            
            
                </td>
            </tr>

        </table>


    </body>
            </html>
    {% endblock content %}