{% extends 'Models/Head.html' %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><h3>Rejected Booking</h3></title>
</head>
<body>
    <h2 style="text-align: center;">REJECTED BOOKING</h2>
    <form name="frmCal" method="GET">
        {% csrf_token %}
        <table border="1" align="center" >
            <tr>
                <th>Sl.No</th>
                <th>Photographer name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Photo</th>
                <th>Address</th>
                <th>For Date</th>
                <th>Description</th>
                <th>Booked Date</th>
                <th>Action</th>

                
            </tr>
            {% for i in rej %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.photographer_name}}</td>
                <td>{{i.photographer_email}}</td>
                <td>{{i.photographer_contact}}</td>
                <td>{{i.photographer_photo}}</td>
                <td>{{i.photographer_address}}</td>
                <td>{{i.booking_date}}</td>
                <td>{{i.photographer_description}}</td>
                <td>{{i.booked_date}}</td>
                <td><a href="{% url 'Models:accept' i.id  %}">Accept</a>
                    </td>
                
            </tr>
            {% endfor %}
        
        </table>
        
        
        </body>
                </html>     
        {% endblock content %}