{% extends 'Admin/Head.html' %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><h3>Accepted Model</h3></title>
</head>
<body>
    <h2 style="text-align: center;">ACCEPTED MODEL</h2>
    <form name="frmCal" method="GET">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <th>Sl.No</th>
                <th>Editor name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Photo</th>
                <th>Proof</th>
                <th>District</th>
                <th>Place</th>
                <th>Action</th>
                
                
            </tr>
            {% for i in acc %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.model_name}}</td>
                <td>{{i.model_email}}</td>
                <td>{{i.model_contact}}</td>
                <td>{{i.model_address}}</td>
                <td>{{i.model_gender}}</td>
                <td><img src="{{i.model_photo.url}}" width="100" height="100"></td>
                <td><a href="{{i.model_proof.url}}" download>View</a></td>
                <td>{{i.place.district.district_name}}</td>
                 <td>{{i.place.place_name}}</td>
                 <td><a href="{% url 'Admin:mreject' i.id %}">Reject</a></td>
                
                 
                
            </tr>
            {% endfor %}
        
        </table>
        
        
        </body>
                </html>     
        {% endblock content %}